body {
    margin: 0;
    background: black;
    color: #00ff00;
    font-family: monospace;
}


canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;   
}


.login, .terminal {
    position: relative;
    z-index: 1;  
    text-align: center;
    margin-top: 100px;
}

input, button {
    padding: 10px;
    margin: 5px;
    background: black;
    color: #00ff00;
    border: 1px solid #00ff00;
    cursor: pointer;
}

button:hover {
    background: #00ff00;
    color: black;
}
